<h1>Editing Time</h1> 


<form method="post" action="/blogs/<%= @blog.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <h3><i><%= @blog.title %></i></h2> <br>
  
  Blog Content: <p><input type="text" name="content" size="20" value="<%= @blog.content%>" id="content"></input></p>
  <input type="submit" value="Submit Blog Edits">
</form>

<form method="post" action="/blogs/<%=@blog.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Blog">
</form>
