
<h2>Display all Blogs</h2>

<h3><a href="/blogs/new">Create Blog!</a></h3><br>

<ol>
<% @blogs.each do |blog| %>   
    <li> 
        <a href="/blogs/<%=blog.id%>"><%= blog.title %></a> 
    </li>
<% end %> 
</ol>
