<h1>we are here</h1>
<h2>Display of Blog</h2>

<h3><a href="/blogs/new">Create Blog!</a></h3><br>

<% @blogs.each do |blog| %>
    <ol>
    <a href="/blogs/<%=blog.id%>"><%= blog.title %></a>
    </ol>
    
<% end %> 

<!-- add link to blog show page     -->