
<h5>A New Blog</h5>

<form action="/blogs" method="POST">
    Title: <input id="title" type="string" name="title">
    Content Info: <input id="content" type="textarea" name="content">
    <input type="submit">
    </form>
