
<h2 style="text-align:center;">A New Blog</h2>
<br><br>
<form action="/blogs" method="POST">
    <strong>Title:</strong> <input id="title" type="text" name="title"> <br>
    <br><strong>Content Info:</strong> <textarea id="content" rows="4" cols="4" name="content">enter your blog</textarea>
    <br><br><input type="submit">
    </form>
