<h1>Show Page</h1>
<h2><%= @blog.title %></h2>
<p><%= @blog.content %></p>
<h3>Created by <%=@blog.user.username%></h3>

<a href="/blogs/<%=@blog.id%>/edit">Edit Tweet</a>
 

<form method="get" action="/blogs">
  <input type="submit" value="Go Back">
</form>